:root {
    --white: #ffffff;
    --light-grey: #edf0f1;
    --violet: #655be1;
    --dark-violet: #5146e1;
    --black: #21232a;
}

/* MAIN STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px 5px 25px 25px;
    margin: 300px auto 0;
    background: var(--white);
    box-shadow: rgb(50 50 93 / 10%) 0 30px 60px -12px, rgb(0 0 0 / 15%) 0 18px 36px -18px;
}

.nav input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

.nav input[type="checkbox"] + label {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    background: var(--violet);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
    color: #fff;
}

.nav input[type="checkbox"] + label:hover {
    background: var(--dark-violet);
    color: #fff;
}

.menu > div {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s;
    opacity: 0;
}

.menu > div:nth-child(1) {
    transition-delay: 0.2s;
}

.menu > div:nth-child(2) {
    transition-delay: 0.15s;
}

.menu > div:nth-child(3) {
    transition-delay: 0.1s;
}

.menu > div:nth-child(4) {
    transition-delay: 0.05s;
}

.menu > div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--violet);
    cursor: pointer;
}
.menu > div:hover {
    background: var(--dark-violet);
}

.menu > div > span {
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% - 5px));
    font-size: 13px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    color: var(--black);
    font-weight: bold;
}

.nav input:checked + label {
    transform: translateY(calc(-50% + 4px));
}
.nav input:checked label {
    color: #fff;
}

.nav input:checked ~ .menu > div:nth-child(1) {
    top: -150px;
    transition-delay: 0.1s;
}

.nav input:checked ~ .menu > div:nth-child(2) {
    top: -100px;
    left: calc(50% - 75px);
    transition-delay: 0.2s;
}

.nav input:checked ~ .menu > div:nth-child(3) {
    top: -100px;
    left: calc(50% + 75px);
    transition-delay: 0.3s;
}

.nav input:checked ~ .menu > div:nth-child(4) {
    top: -60px;
    transition-delay: 0.4s;
}

.nav input:checked ~ .menu > div {
    opacity: 1;
    transition-delay: 0.9s;
}
.nav input:checked ~ .menu > div > span {
    opacity: 1;
}

.disbaled {
    cursor: default !important;
    background-color: var(--light-grey) !important;
}
